<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @code.name %>
</p>

<p>
  <strong>Clue:</strong>
  <%= @code.clue %>
</p>

<p>
  <strong>Location:</strong>
  <%= @code.location %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @code.secret %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
